[run]
source = src
branch = True
omit =
    */tests/*
    */test_*
    src/models/roadmap.py

[report]
precision = 2
fail_under = 74
exclude_lines =
    pragma: no cover
    raise NotImplementedError
    if __name__ == .__main__.:
    except ImportError
    pass
